@tailwind base;
@tailwind components;
@tailwind utilities;

/* General styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0; 
  padding: 0;
  background: #fff;
  color: #333;
}

h1, h2, h3, h4, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #666;
}

a {
  text-decoration: none;
  color: #3b3395;
}

button, .btn {
  font-weight: 600;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

.btn-purple {
  background: #3b3395;
  color: #fff;
  transition: background 0.3s ease;
}

.btn-purple:hover {
  background: #292471;
}

.btn-purple-outline {
  background: #fff;
  color: #3b3395;
  border: 2px solid #3b3395;
}

.btn-purple-outline:hover {
  background: #3b3395;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
